<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<listeners>
		<listener class-name="com.hub.listener.ListenerClass"></listener>
		<listener class-name="com.hub.listener.AnnotationTransformer"></listener>
	</listeners>
	<test thread-count="3" name="Test" parallel="methods">
		<classes>
			<class name="com.hub.testcases.HUBLoginTests" />
			<class name="com.hub.testcases.HUBManageCouponTests" />
			<class name="com.hub.testcases.BaseTest" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
